<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MCLauncher.net.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <MCLauncher.net.Properties.Settings>
            <setting name="username" serializeAs="String">
                <value />
            </setting>
            <setting name="remember" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="maxmem" serializeAs="String">
                <value>256M</value>
            </setting>
            <setting name="lastjar" serializeAs="String">
                <value>minecraft.jar</value>
            </setting>
            <setting name="javaExecutable" serializeAs="String">
                <value />
            </setting>
            <setting name="lang" serializeAs="String">
                <value />
            </setting>
        </MCLauncher.net.Properties.Settings>
    </userSettings>
</configuration>